doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD Gallery App
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css")
    link(rel="stylesheet", href="/css/styles.css")
  body

    nav.top-bar(data-topbar)
      ul.title-area
        li.name
          h1
            a(href="#")
        li.toggle-topbar.menu-icon
          a(href="#")
            span
      section.top-bar-section
        ul.right
          li
            - if (logged_in)
              a(href="/login") Welcome, #{username}! 
                span.different-user Different User?
            - else
              a(href="/login") Login
          li.divider
          li.has-dropdown
            a(href="/gallery/admin") Admin
            ul.dropdown
              li
                a(href="/gallery/new") + New Photo

    .row
      .large-12.columns

        header
          .row
            .large-8.medium-4.columns
              .panel
                h1.name
                  a(href="/") _Crunkitekt
            .large-4.medium-4.columns
              .panel
                p Welcome to our online portfolio. We are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.
        block content
          #content
            .slider-container
              .row
               .large-12.columns
                  .slick-slider
                    for photo in photos
                      div
                        a(href="/gallery/#{photo._id}")
                          img.fade(src='#{photo.link}', alt='#{photo.author}')
            #photos
              .row
                .large-12.columns
                  .row
                    for photo in photos
                      .large-4.medium-4.columns.end
                        .panel
                          a(href="/gallery/#{photo._id}")
                            p.fade(style="background-image: url('#{photo.link}')")
                            span.author= photo.author

    script(src="/bower_components/modernizr/modernizr.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/foundation/js/foundation.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js")
    script.
      $(document).foundation();
      $(function() {
        $('button.cancel').click(function() {
          parent.history.back();
          return false;
          });

        $('.slick-slider').slick({
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          speed: 500,
          responsive: [
            {
              breakpoint: 1000,
              settings: {
                  arrows: false
              }
            }
          ]
        });
      });
